[Unit]
Description=Generates an image for i3lock
Before=suspend.target

[Service]
User=jonas
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/jonas/.config/i3lock/script_lock_pre.sh

[Install]
WantedBy=suspend.target
